/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set black and white color scheme */
body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
}

header, nav, main, footer {
    padding: 20px;
}

h1, h2 {
    color: #000;
}

/* Style the navigation links */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

/* Style the project sections */
.project {
    margin: 20px 0;
    border: 1px solid #000;
    padding: 20px;
    transition: transform 0.2s;
    background-color: #fff;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-header i {
    color: #000;
    font-size: 20px;
    margin-right: 10px; /* Add margin to separate the icon from the text */
}

.project-header h2 {
    white-space: normal;
}

/* Style the "View Project" buttons */
.btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.2s,   background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Center the header */
.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home1:hover {
    color: red;
    transition: 0.3s ease-in-out;
    font-size: 17px;
}
.project-content,.project-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2,a,li{
    margin: 10px;
}